<div class="container">
  <p>
    This project shows you how to do things in Angular with full diff examples in commits/pull requests, with instructions included.
  </p>
</div>

<button (click)="testRedux()" class="btn btn-primary">Test redux</button>
-
<button class="btn btn-primary" (click)="getNasaApod()">APOD</button>

<div>
  <h2>App State</h2>
  <pre>{{ state | json }}</pre>
</div>

<hr>

<textarea style="width: 100%; height: 200px" [(ngModel)]="md"></textarea>

<div [innerHTML]="md | markdown"></div>
