<h1>
  Welcome to {{title}}!
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-4" style="background: #666">Col-4</div>
    <div class="col-4" style="background: #999">Col-4</div>
    <div class="col-4" style="background: #ccc">Col-4</div>
  </div>
</div>

<nav>
  <ul>
    <li><a routerLink="about" routerLinkActive="active">About</a></li>
    <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="heroes" routerLinkActive="active">Heroes</a></li>
    <li><a routerLink="tutorials" routerLinkActive="active">Tutorials</a></li>
  </ul>
</nav>
<hr />

<router-outlet></router-outlet>
